In [27]:
#ulazni fajl sa podacima korisnika
#kosrisnik ima email adresu i prilikom ucitavanja fajla treba da proverimo da li je email adresa valdinog formata

import re

email_regex = r'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$'

email1 = "email_primer@gmail.com"
email2 = "nije-email-primer"

print(f"{email1} je validan: {bool(re.match(email_regex, email1))}")
print(f"{email2} je validan: {bool(re.match(email_regex, email2))}")

email_primer@gmail.com je validan: True
nije-email-primer je validan: False

Regularni izraz

literali: a,b,1,..
specijalni karakteri:
    . - bilo koji karakter osim novog reda
    \d - bilo koja cifra [0-9]
    \D - sve sto nije cifra
    \w - bilo koji "word" karakter (slova, brojevi, donja crta)
    \W - bilo sta sto nije "word" karakter
    \s - bilo koji "whitespace" karakter (razmak, tab, nov red)
    \S - sve sto nije "whitespace" karakter
    ^ - pocetak stringa
    $ - kraj stringa

+ operator: \w+ to je {\w, \w\w, \w\w\w, ...}

setovi i opsezi:
    [abc] - trazi bilo koji od karaktera a,b,c
    [a-z] - sva mala slova
    [A-Z] - sva velika slova
    [0-9] - sve cifre
    [^abc] - negacija, tj bilo koji karakter koji nije a, b i c
    | - OR (ili-ili, imamo izraz sa obe strane | i trazi se ili izdraz sa leve ili izraz sa desne strane, bitno da jedan pronadje)
    * - 0 ili vise puta
    + - 1 ili vise puta
    ? - 0 ili 1 put
    {n} - ponavlja se tacno n puta, npr \d{3} tacno 3 cifre
    {n,m} - izmedju n i m puta

In [34]:
import re

tekst = "Broj 100 je veci od 99, a manji od 101."

print(f"Cifre: {re.findall(r'\d', tekst)}")
print(f"Cifre: {re.findall(r'\d\d\d', tekst)}")

print(f"Word karakteri: {re.findall(r'\w', tekst)}")
print(f"Reci od bar 4 slova: {re.findall(r'\w\w\w\w', tekst)}")
print(f"Sve reci: {re.findall(r'\w+', tekst)}")

Cifre: ['1', '0', '0', '9', '9', '1', '0', '1']
Cifre: ['100', '101']
Word karakteri: ['B', 'r', 'o', 'j', '1', '0', '0', 'j', 'e', 'v', 'e', 'c', 'i', 'o', 'd', '9', '9', 'a', 'm', 'a', 'n', 'j', 'i', 'o', 'd', '1', '0', '1']
Reci od bar 4 slova: ['Broj', 'veci', 'manj']
Sve reci: ['Broj', '100', 'je', 'veci', 'od', '99', 'a', 'manji', 'od', '101']

In [49]:
import pandas as pd
import re

data = {
    'id': [1, 2, 3, 4],
    'kontakt': ['email:mailprimer1@primer.com', 'tel:123-456-789', 'Petar Petrovic', 'email:mailprimer2@primer.com'],
    'poruke': ['Porudzbina prozivoda 111', 'Informacije o porudzbini', 'Pracenje prozivoda 22', 'Porudzbina prozivoda 333']
}

df = pd.DataFrame(data)

email_regex = r'email:'
df_email = df[df['kontakt'].str.contains(email_regex)]
print(df_email)

proizvod_regex = r'(\d{2,3})' #() uz extract
df['kod_proizvoda'] = df['poruke'].str.extract(proizvod_regex)
print(df)

p_regex = r'\d{2,3}'
df_p = df[df['poruke'].str.contains(p_regex)]
print(df_p)

df['kontakt_sredjeno'] = df['kontakt'].str.replace(r'email:|tel:', 'kontakt:',regex=True)
print(df)

   id                       kontakt                    poruke
0   1  email:mailprimer1@primer.com  Porudzbina prozivoda 111
3   4  email:mailprimer2@primer.com  Porudzbina prozivoda 333
   id                       kontakt                    poruke kod_proizvoda
0   1  email:mailprimer1@primer.com  Porudzbina prozivoda 111           111
1   2               tel:123-456-789  Informacije o porudzbini           NaN
2   3                Petar Petrovic     Pracenje prozivoda 22            22
3   4  email:mailprimer2@primer.com  Porudzbina prozivoda 333           333
   id                       kontakt                    poruke kod_proizvoda
0   1  email:mailprimer1@primer.com  Porudzbina prozivoda 111           111
2   3                Petar Petrovic     Pracenje prozivoda 22            22
3   4  email:mailprimer2@primer.com  Porudzbina prozivoda 333           333
   id                       kontakt                    poruke kod_proizvoda  \
0   1  email:mailprimer1@primer.com  Porudzbina prozivoda 111           111
1   2               tel:123-456-789  Informacije o porudzbini           NaN
2   3                Petar Petrovic     Pracenje prozivoda 22            22
3   4  email:mailprimer2@primer.com  Porudzbina prozivoda 333           333

                 kontakt_sredjeno
0  kontakt:mailprimer1@primer.com
1             kontakt:123-456-789
2                  Petar Petrovic
3  kontakt:mailprimer2@primer.com

In [61]:
import pandas as pd
import re

data = { 
    'id': ['USER-101-SRB', 'CUST-02-MKD', 'USER-5-DE', 'INVALID-ID', 'USER-313-US'], 
    'email': ['test@primer.com', 'pera peric', 'zika@firma.co.rs', 'nevalidan-mail', 'ana@corp.net'], 
    'telefon': ['+381 64 123 456', 'nema broj', '065/987-6543', '+389 70 111 222', '64 555 444'], 
    'recenzija': ['Odličan telefon, baterija traje 2 dana!', 'Loša kamera, ocena 2/5.', 'Super! Preporuka baterijae. 5 zvezdica.', 'Proizvod je stigao slomljen.', 'Dobar ekran. Ocena: 4 od 5.'] 
}

df = pd.DataFrame(data)
print("Originalni podaci")
display(df) #display prikazuje kao tabelu

#1.validacija podataka - npr da li je ID u formatu TIP-BROJ-DRZAVA
#pocinje sa USER ili CUST, posle toga ide -, 1 ili vise cifara, pa -, 2 ili 3 velika slova
id_regex = r'^(USER|CUST)-\d+-[A-Z]{2,3}$'
df['validan_id'] = df['id'].str.match(id_regex)
display(df)

#2.Kreiranje binarnih obelezja
#Da li recenzija pominje bateriju ili kameru

df['pominje_bateriju'] = df['recenzija'].str.contains(r'baterij[a|e|i|u]\s', case=False)
df['pominje_kameru'] = df['recenzija'].str.contains(r'kamera|kameru|kamere', case=False)
display(df[['recenzija', 'pominje_bateriju', 'pominje_kameru']])

#Izvlacenje ocene iz recenzije
ocena_regex = r'(\d)\s*(od|/)\s*5'
display(df['recenzija'].str.extract(ocena_regex))
df['ocena'] = df['recenzija'].str.extract(ocena_regex)[0]
display(df[['recenzija', 'ocena']])

Originalni podaci

,id,email,telefon,recenzija
0,USER-101-SRB,test@primer.com,+381 64 123 456,"Odličan telefon, baterija traje 2 dana!"
1,CUST-02-MKD,pera peric,nema broj,"Loša kamera, ocena 2/5."
2,USER-5-DE,zika@firma.co.rs,065/987-6543,Super! Preporuka baterijae. 5 zvezdica.
3,INVALID-ID,nevalidan-mail,+389 70 111 222,Proizvod je stigao slomljen.
4,USER-313-US,ana@corp.net,64 555 444,Dobar ekran. Ocena: 4 od 5.

,id,email,telefon,recenzija,validan_id
0,USER-101-SRB,test@primer.com,+381 64 123 456,"Odličan telefon, baterija traje 2 dana!",True
1,CUST-02-MKD,pera peric,nema broj,"Loša kamera, ocena 2/5.",True
2,USER-5-DE,zika@firma.co.rs,065/987-6543,Super! Preporuka baterijae. 5 zvezdica.,True
3,INVALID-ID,nevalidan-mail,+389 70 111 222,Proizvod je stigao slomljen.,False
4,USER-313-US,ana@corp.net,64 555 444,Dobar ekran. Ocena: 4 od 5.,True

                                 recenzija  pominje_bateriju  pominje_kameru
0  Odličan telefon, baterija traje 2 dana!              True           False
1                  Loša kamera, ocena 2/5.             False            True
2  Super! Preporuka baterijae. 5 zvezdica.             False           False
3             Proizvod je stigao slomljen.             False           False
4              Dobar ekran. Ocena: 4 od 5.             False           False

     0    1
0  NaN  NaN
1    2    /
2  NaN  NaN
3  NaN  NaN
4    4   od

                                 recenzija ocena
0  Odličan telefon, baterija traje 2 dana!   NaN
1                  Loša kamera, ocena 2/5.     2
2  Super! Preporuka baterijae. 5 zvezdica.   NaN
3             Proizvod je stigao slomljen.   NaN
4              Dobar ekran. Ocena: 4 od 5.     4