ETL proces (Extract, Transform, Load)
API (Application Programming Interface)

In [33]:
import requests
import json

api_url = "https://pokeapi.co/api/v2/pokemon/ditto"

try:
    response = requests.get(api_url)
    response.raise_for_status()
    print(f"Status Code: {response.status_code}")
    data = response.json()
    file_path = "pokeapi_raw.json"
    #json.dump() ova funkcija se koristi da se JSON upise negde
    with open(file_path, 'w', encoding='utf-8') as f: json.dump(data, f, ensure_ascii=False, indent=4)
except requests.exceptions.RequestException as e: print(f"Greska: {e}")

print("posle try except")

Status Code: 200
posle try except

In [36]:
import pandas as pd
import json

file_path = "pokemon.json"
with open(file_path, 'r', encoding='utf-8') as f:
    data = json.load(f)
#json.load() se koristi da se procita JSON
df = pd.DataFrame(data)
df.head()

                                           abilities
0  {'ability': {'name': 'limber', 'url': 'https:/...
1  {'ability': {'name': 'imposter', 'url': 'https...

In [37]:
import requests
import json

api_url = "https://restcountries.com/v3.1/independent?status=true"

try:
    response = requests.get(api_url)
    response.raise_for_status()
    print(f"Status Code: {response.status_code}")
    data = response.json()
    file_path = "drzave_raw.json"
    #json.dump() ova funkcija se koristi da se JSON upise negde
    with open(file_path, 'w', encoding='utf-8') as f: json.dump(data, f, ensure_ascii=False, indent=4)
except requests.exceptions.RequestException as e: print(f"Greska: {e}")

print("posle try except")

Status Code: 200
posle try except

In [3]:
import pandas as pd
import json

file_path = "drzave_raw.json"
with open(file_path, 'r', encoding='utf-8') as f:
    data = json.load(f)
#json.load() se koristi da se procita JSON
df_raw = pd.DataFrame(data)
df_raw.head() #ispisuje prvih 5 sa vrha
df_raw.info() #ispisuje detaljnije informacije

kolone_koje_hocemo = ['name', 'independent', 'status', 'capital', 'area', 'borders']
df = df_raw[kolone_koje_hocemo].copy()
df.head()

df['country_name'] = df['name'].apply(lambda x: x['common'])
df.head()
df['capital_city'] = df['capital'].apply(lambda x: x[0])
df.head()
df = df.drop(columns=['name', 'capital'])
df.head()
df.to_csv('drzave_za_bazu.csv', index=False, encoding='utf-8')

#filtered_df = df.iloc[:, [4, 5]] #filtriranje kolona po indeksu
#filtered_df.head()

#filtered_df = filtered_df.rename(columns={'country_name': 'naziv_drzave', 'capital_city': 'glavni_grad'})
#filtered_df.head()

#filtered_df.to_csv('drzave_filtrirano.csv', index=False, encoding='utf-8')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 35 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          195 non-null    object
 1   tld           194 non-null    object
 2   cca2          195 non-null    object
 3   ccn3          194 non-null    object
 4   cioc          194 non-null    object
 5   independent   195 non-null    bool
 6   status        195 non-null    object
 7   unMember      195 non-null    bool
 8   currencies    195 non-null    object
 9   idd           195 non-null    object
 10  capital       195 non-null    object
 11  altSpellings  195 non-null    object
 12  region        195 non-null    object
 13  subregion     195 non-null    object
 14  languages     195 non-null    object
 15  latlng        195 non-null    object
 16  landlocked    195 non-null    bool
 17  borders       157 non-null    object
 18  area          195 non-null    float64
 19  demonyms      195 non-null    object
 20  cca3          195 non-null    object
 21  translations  195 non-null    object
 22  flag          195 non-null    object
 23  maps          195 non-null    object
 24  population    195 non-null    int64
 25  gini          166 non-null    object
 26  fifa          186 non-null    object
 27  car           195 non-null    object
 28  timezones     195 non-null    object
 29  continents    195 non-null    object
 30  flags         195 non-null    object
 31  coatOfArms    195 non-null    object
 32  startOfWeek   195 non-null    object
 33  capitalInfo   195 non-null    object
 34  postalCode    195 non-null    object
dtypes: bool(3), float64(1), int64(1), object(30)
memory usage: 49.5+ KB

In [24]:
import pandas as pd
import sqlite3

#ucitavanje podataka iz csv fajla u data frame df
df = pd.read_csv('drzave_za_bazu.csv')
df.head()

#otvaranje konekcije sa bazom
db_connection = sqlite3.connect('drzave_baza.db') 

table_name = 'countries'

#kreiranje tabele u bazi iz df
df.to_sql(table_name, db_connection, if_exists='replace', index=False)

#rad sa bazom
query1 = "select * from countries limit 7;"
df_iz_baze1 = pd.read_sql_query(query1, db_connection)
#query2 = "select country_name, area from countries order by area desc limit 10;"

#limit = input("Koliko drzava da se ispise?")
#columns = input("Koje kolone da se prikazu?")
#rows = ""
query2 = "select " + columns + " from countries order by area desc limit " + str(limit) + ";"
print(query2)
df_iz_baze2 = pd.read_sql_query(query2, db_connection)
display(df_iz_baze2)

query3 = "select count(*) as number_of_countries from countries where area > 100000.0;"
df_iz_baze3 = pd.read_sql_query(query3, db_connection)
#display(df_iz_baze3)

#zatvaranje konekcije sa bazom
db_connection.close()

select area from countries order by area desc limit 2;

         area
0  17098242.0
1   9984670.0